@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Roboto|Open+Sans|Lato|Oswald|Slabo+27+px|Roboto+Condensed|Montserrat|Source+Sans+Pro|Raleway|PT+Sans");

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}